/*
 * The basic layout for all browsers
 */

* {
    box-sizing: inherit;
}

html,
body {
    box-sizing: border-box;
    height: 100%;
    min-width: 30em;
}


#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 200px;
    z-index: 2;
    height: 64px;
    line-height: 64px;
}

.header-spacer {
    height: 64px;
}

.header-left {
    width: fit-content;
    float: left;
    vertical-align: middle;
}

.header-right {
    width: fit-content;
    float: right;
    vertical-align: middle;
}

#nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    overflow: auto;
    z-index: 2;
}

/* advanced browsers will turn this back on */
a.nav-toggle {
    display: none;
}

#body {
    min-height: 100%;
    margin-left: 200px;

    /* reserve space for the sticky footer */
    margin-bottom: -6ex;
    padding-bottom: 6ex;
}

/* the old dtrweb code assumed the default sizing */
#body .panel > * {
    box-sizing: content-box;
}

#footer {
    height: 6ex;
    line-height: 3ex;
    margin-left: 200px;
    text-align: center;
}

/* unwrap the footer lines on large displays */
@media (min-width: 35em) {
    #footer {
        line-height: 6ex;
    }

    #footer br {
        display: none;
    }
}

/*
 * panel for hold primary content
 */
#body .panel {
    background-color: WhiteSmoke;
    padding: 2ex 1em 2ex 1em;
}

#body > .fluid-box {
    padding: 0;
}

/*
 * larger devices have the panel offset
 */
@media (min-width: 768px) {
    #body > .fluid-box {
        padding-left: 15px;
        padding-right: 15px;
    }

    #body .panel {
        margin: 2ex 0.5em 2ex 0.5em;
        border-radius: 0;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16),
            0 0 2px 0 rgba(0, 0, 0, .12);
    }
}

/*
 * The supported layouts on the supported browsers
 */
@supports (grid-area: auto) {
    /*
     * Modern but small devices get a hidden overlay nav with a show button
     */
    #header {
        left: 0;
        transition: left 0.2s;
    }

    #nav {
        left: -200px;
        transition: transform 0.2s;
    }

    /* Turn on the correct nav toggle */
    #toggle-small {
        display: inline;
    }
    @media (min-width: 768px) {
        #toggle-big {
            display: inline;
        }
        #toggle-small {
            display: none;
        }
    }

    #body {
        margin-left: 0px;
        transition: margin-left 0.2s;
    }

    #footer {
        margin-left: 0px;
        transition: margin-left 0.2s;
    }

    /*
     * larger devices get a visible but hide-able side nav
     */
    @media (min-width: 768px) {
        #header {
            left: 200px;
        }

        #nav {
            transform: translate(200px);
        }

        #body {
            margin-left: 200px;
        }

        #footer {
            margin-left: 200px;
        }

        body.hide-nav #header {
            left: 0;
        }

        body.hide-nav #nav {
            transform: translate(0px);
        }

        body.hide-nav #body {
            margin-left: 0;
        }

        body.hide-nav #footer {
            margin-left: 0;
        }
    }

    /* Toggle nav drawer */
    #nav.active {
        transform: translate(200px);
    }

    .nav-toggle {
        cursor: pointer;
        color: #fff;
        font-size: 20px;
        line-height: 20px;
        margin-right: 10px;
    }

    .nav-toggle:hover {
        color: #fff;
        text-decoration: none;
    }

    /* nav elements */
    #nav-brand {
      padding-left: 20px;
    }

    #nav ul {
      list-style: none;
      margin-bottom: 0;
      padding-left: 2em;
    }

    #nav > ul {
      padding-left: 0px;
      padding-top: 15px;
    }

    #nav strong {
      display: block;
      padding: 15px 22px;
      cursor: pointer;
    }

    #nav .active .arrow {
        float: right;
    }

    #nav em {
      display: block;
      padding: 10px 17px;
      cursor: pointer;
      font-style: normal;
      font-weight: 700;
    }

    #nav strong:hover {
      background-color: #E0E0E0;
    }

    #nav em:hover {
      background-color: #D0D0D0;
    }

    #nav strong + ul > li {
      padding: 0;
    }

    #nav a {
        color: black;
        text-decoration: underline;
    }
}


/*
 * Screen print options
 */
@media print {
    #nav {
        display: none;
    }
}

/*
 * Element details
 */

#header {
    background-color: #2196f3;
    color: #fff;
}

#nav {
    background-color: white;
}

#body {
    background-color: gainsboro;
}

#footer {
    background-color: #e8e8e8;
}

/* Make less useful items not selectable to improve copy/paste */
.no-user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* some standard text styles */
.text-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

/* a themeable divider */
.divider {
    display: block;
    height: 1px;
    background-color: rgba(0, 0, 0, .12);
}

/* a fluid box */
.fluid-box {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* micro clearfix */
.fluid-box:before, .fluid-box:after {
    content: " ";
    display: table;
}

.fluid-box:after {
    clear: both;
}
