/*
 * The basic layout for all browsers
 */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 30em;
}


#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 200px;
    z-index: 2;
}

.header-left {
    width: fit-content;
    float: left;
    vertical-align: middle;
}

.header-right {
    width: fit-content;
    float: right;
    vertical-align: middle;
}

#nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    overflow: auto;
    z-index: 2;
}

/* advanced browsers will turn this back on */
a.nav-toggle {
    display: none;
}

#body {
    min-height: 100%;
    /*
    overflow-x: hidden;
    */
    margin-left: 200px;

    /* reserve space for the sticky footer */
    margin-bottom: -6ex;
    padding-bottom: 6ex;
}

#footer {
    height: 6ex;
    line-height: 3ex;
    margin-left: 200px;
}

@media (min-width: 35em) {
    #footer {
        line-height: 6ex;
    }

    #footer br {
        display: none;
    }
}

/*
 * The supported layouts on the supported browsers
 */
@supports (grid-area: auto) {
    /*
     * Modern but small devices get a hidden overlay nav with a show button
     */
    #header {
        left: 0;
        transition: left 0.2s;
    }

    #nav {
        left: -200px;
        transition: transform 0.2s;
    }

    a.nav-toggle {
        display: inline;
    }

    #body {
        margin-left: 0px;
        transition: margin-left 0.2s;
    }

    #footer {
        margin-left: 0px;
        transition: margin-left 0.2s;
    }

    /*
     * larger devices get a visible but hide-able side nav
     */
    @media (min-width: 768px) {
        #header {
            left: 200px;
        }

        #nav {
            transform: translate(200px);
        }

        #body {
            margin-left: 200px;
        }

        #footer {
            margin-left: 200px;
        }

        body.hide-nav #header {
            left: 0;
        }

        body.hide-nav #nav {
            transform: translate(0px);
        }

        body.hide-nav #body {
            margin-left: 0;
        }

        body.hide-nav #footer {
            margin-left: 0;
        }
    }

    /* Toggle nav drawer */
    #nav.active {
        transform: translate(200px);
    }

    .nav-toggle {
        cursor: pointer;
        color: #fff;
        font-size: 20px;
        line-height: 20px;
        margin-right: 10px;
    }

    .nav-toggle:hover {
        color: #fff;
        text-decoration: none;
    }

    /* nav elements */
    #nav-brand {
      padding-left: 20px;
    }

    #nav ul {
      list-style: none;
    }

    #nav > ul {
      padding-left: 0px;
    }

    #nav > ul > li:first-child {
      padding-top: 15px;
    }

    #nav strong {
      display: block;
      padding: 15px 22px;
      cursor: pointer;
    }

    #nav strong:hover {
      background-color: #E0E0E0;
    }

    #nav strong + ul > li {
      padding: 6px 0px;
    }
}


/*
 * Screen print options
 */
@media print {
    #nav {
        display: none;
    }
}

/*
 * Element details
 */

#header {
    background-color: aquamarine;
}

#nav {
    background-color: wheat;
}

#body {
    background-color: powderblue;
}

#footer {
    background-color: yellow;
}

