/*
 * Legacy support - will be overridden on modern browsers.
 * If you add things here, they must be overridden
 * below.
 */

#app #header, #app #nav, #app #body, #app #footer {
    display: inline-block;
    vertical-align: top;
}

#app #header, #app #footer {
    width: 100%;
}

#app #nav {
    width: 20%;
}

#app #body {
    width: 80%;
}

/* Undo the legacy options */
@supports (grid-area: auto) {
    #app #header, #app #nav, #app #body, #app #footer {
        display: block;
        vertical-align: baseline;
    }

    #app #header, #app #footer {
        width: auto;
    }

    #app #nav {
        width: auto;
    }

    #app #body {
        width: auto;
    }
}

/*
 * The supported layouts on the supported browsers
 */
@supports (grid-area: auto) {
    #app {
        display: grid;
        grid-gap: 1em;
        grid-template:
            "hdr hdr" minmax(2em, auto)
            "nav bdy" 1fr
            "nav ftr" minmax(2em, auto)
            / minmax(5em, 1fr) 7fr
            ;
    }

    #app .fullscreen {
        /* needs a full height grid template here */
    }
}

/* Page layout details */
#header {
    grid-area: hdr;
    background-color: aquamarine;
}

#nav {
    grid-area: nav;
    background-color: wheat;
}

#body {
    grid-area: bdy;
    background-color: powderblue;
}

#footer {
    grid-area: ftr;
    background-color: yellow;
}
